*{font-family: Asul;}

td,
th {
  padding-left: 1.8em;
  padding-bottom: 0.8em;
}

* {
  box-sizing: border-box;
}

button, input, select{
font-size: 1vmax;
}

select option{
font-size: 1vmax;
}

#myInput {
  width: 100%;
  font-size: 1.2vmax;
  padding: 0.5em 1em 0.5em 2em;
  border: 0.1em solid #ddd;
  margin-bottom: 0.6em;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 1.3vmax;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 0.6em;
}

#myTable tr {
  border-bottom: 0.1em solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
  cursor: pointer; 
}

h1{
	font-size: 1.8vmax;
}

.modal-header{
	font-size: 1.3vmax;
}

.modal-content{
	font-size: 1.5vmax;
}

.modal-footer{
	font-size: 1vmax;
}

.modal-footer button{
	font-size: 1vmax;
}

.footer {
	position: relative;
	height: 3.5em;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 1vmax;
	text-align: center;
	color: #ffffff;
}

.footer p {
	position: relative;
	padding-top: 0.7em;
	font-size:1.2vmax;
}

.footer a {
	color: #ffffff;
	cursor: pointer; 
}
